@model Doctor

<h1>Editar Doctor</h1>

<form method="post">
    <input type="hidden" asp-for="IdDoctor" />
    <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input asp-for="Apellido" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Especialidad</label>
        <input asp-for="Especialidad" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Salario</label>
        <input asp-for="Salario" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">ID Hospital</label>
        <input asp-for="IdHospital" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
